<div class="jumbotron">
  <div class="container-fluid">
    <h1>New Eats</h1>
    <p>
      <i>From EATER: Los Angeles</i>
    </p>
    <br />
    <br />
    <p>
      <Strong>Saved Articles</Strong>
    </p>
  </div>
</div>

<div class="container">
  <div class="row" id="article-entry">
    <div class="col-lg-12 text-center">
      <h3>There are no articles here.</h3>
      <br>
      <br>
    </div>
  </div>
</div>
